<?xml version="1.0" encoding="utf-8" ?>
<!-- NLog Configuration File -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Targets define where the logs are written -->
	<targets>
		<!-- File target for daily logs -->
		<target name="dataBaseServiceLog" xsi:type="File"
                fileName="${basedir}/../../../logs/DataBaseService/DataBaseService_${shortdate}.log"
                layout="${longdate} | ${logger} | ${uppercase:${level}} | ${callsite:className=true:methodName=true} | ${message} | ${exception:format=tostring}">
			<!--
            Layout details:
            - ${longdate}: Full date and time when the event occurred.
            - ${logger}: Name of the logger.
            - ${uppercase:${level}}: Log level in uppercase (INFO, ERROR, etc.).
            - ${callsite}: Class and method that generated the log.
            - ${message}: Log message.
            - ${exception}: Details of any captured exception including stack trace.
            -->
		</target>

		<!-- Console target for colored output in the console -->
		<target name="dataBaseServiceConsoleLog" xsi:type="ColoredConsole"
                layout="${longdate} | ${logger} | ${uppercase:${level}} | ${callsite:className=true:methodName=true} | ${message} | ${exception:format=tostring}">
			<!--
            Colors by log level:
            - Fatal: Red on White background
            - Error: Red
            - Warn: Yellow
            - Info: White
            - Trace: Green
            -->
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
			<highlight-row condition="level == LogLevel.Trace" foregroundColor="Green" />
		</target>
	</targets>

	<!-- Rules define which logs are written to which targets -->
	<rules>
		<!-- Logs from GetCurrentClassLoggerExample.DataBaseService are written to both file and console -->
		<logger name="GetCurrentClassLoggerExample.DataBaseService" minlevel="Info" writeTo="dataBaseServiceLog" />
		<Logger name="GetCurrentClassLoggerExample.DataBaseService" minlevel="Info" maxlevel="Fatal" writeTo="dataBaseServiceConsoleLog" />
		<!--
        Info: Logs from Info to Fatal level are written to both targets.
        The configuration ensures all pertinent information from the application is captured and available for analysis.
        -->
	</rules>
</nlog>
